= stylesheet 'application'
= javascript 'application'
= stylesheet_last 'page-galleria.classic'
= javascript_last "galleria-1.2.8.min", "galleria.classic.min", "page-slider"

%img#loadimage{:height => "35", :src => "/assets/loading.gif", :width => "35"}/
#galleria
