= stylesheet_link_tag 'galleria.classic'
= javascript_last "galleria-1.2.8.min", "galleria.classic.min"

%img#loadimage{:height => "35", :src => "/assets/loading.gif", :width => "35"}/
#galleria
