// Place all the styles related to the shoot_data_uploadify controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container .span10 {
  width: 1200px;
  margin: 7px auto;
  .main-content {
    width: 1200px;
    margin: 0 auto;
  }
}

.uploadify_btn {
	color: #000;
}
.uploadify_btn,.btn{
	position: relative;
	text-decoration: none;
  font-family:'微软雅黑','microsoft yahei','Apple LiGothic Medium','SimHei',Arial, Helvetica, sans-serif;
  font-weight: bold;
	display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 5px;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  *line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.upload_control_btn {
	float: left;
	margin: 10px 20px 0 0;
	.btn {
		position: relative;
		text-decoration: none;
	  font-family:'微软雅黑','microsoft yahei','Apple LiGothic Medium','SimHei',Arial, Helvetica, sans-serif;
	  font-weight: bold;
		display: inline-block;
	  *display: inline;
	  *zoom: 1;
	  font-size: 12px;
	  line-height: 18px;
	  *line-height: 20px;
	  text-align: center;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	  vertical-align: middle;
	  cursor: pointer;
		padding: 6px 37px 6px 37px;
		padding: 6px 37px 7px 37px\9;
		*padding: 4px 20px 2px 10px;
		margin: 0 6px 0 2px;
	}
}

.upload_shoot_data{
	float: left;
	margin: 10px 20px 0 45px;
	_margin: 10px 20px 0 22px;
	.uploadify-queue {
		border: 1px solid #ccc;
		border-top: none;
		position: absolute;
		width: 1100px;
		height: 500px;
		overflow: auto;
		margin: 28px auto;
		*margin: 26px auto;
		.uploadify-queue-item {
			width: 500px;
			text-align: center;
			margin: 10px auto;
		}
	}
}

.upload_count {
	padding-top: 15px;
}

.upload_warning {
	float: left;
	margin: -15px 0 0 65px;
	*margin: -15px 0 0 60px;
	font-weight: bold;
}
.upload_rule {
	font: 12px/1.5 '微软雅黑','microsoft yahei','Apple LiGothic Medium','SimHei',Arial, Helvetica, sans-serif;
	float: right;
	margin: -15px 52px 0 0;
	_margin: -20px 28px 0 0;
	
	select {
		vertical-align: baseline;
		font: 12px/1.5 '微软雅黑','microsoft yahei','Apple LiGothic Medium','SimHei',Arial, Helvetica, sans-serif;
	}
}

.upload_box_title h2 {
	width: 1092px;
	height: 23px;
	line-height: 23px;
	font-size: inherit;
	margin: 25px 0 0 45px;
	_margin: 25px 0 5px 44px;
	padding: 0 0 0 10px;
	color: #fff;
}

/*#csrf_session{
	display: none
}*/
