%ul.nav
  %li.active
    = link_to t( "app.home" ), "/basic_data"
  %li 
    = link_to t( "app.import" ), "/basic_data/import"
  %li 
    = link_to t( "app.outport" ), "/basic_data/outport"
  %li 
    = link_to t( "app.about" ), "/about"
