/
	- cache(:site_foot) do
		.navbar.navbar-fixed-bottom
			.navbar-inner
				.container
				%p &copy; 美盛光电 2012&nbsp;&nbsp;&nbsp;&nbsp;YF红外检测一体化分析平台&nbsp;&nbsp;&nbsp;&nbsp;翻版必究
			
= yield :stylesheet_last
= yield :javascript_last
