%p
  你好 #{@resource.email}!

%p 我们已收到你要求更改YF红外分析一体化平台帐户密码的请求。

%p 如果你提出这一要求，并希望更改密码，请点击下面的链接。

%p= link_to '修改密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p 此链接有效期为1小时或直到你重设密码成功。

%p 如果你没有要求更改密码，则有可能是其他用户错误地提交了这项请求。在这种情况下，你可以忽略这封邮件，并且不需要更改任何帐户设置。

%p -美盛软件团队